.container-links {
    display: flex;
    gap: 2rem;
}

.container-info {
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
        width: 2rem;
        height: 2rem;
    }
}

h3 {
    color: blue;
}